/*CSS Reset*/
/*Resets the default margins/paddings/sizing of the web page*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*For Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/* rem is based on the root elementwhich is the <html> and it is a multiplier	*/
	padding: 0.8rem; 
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	/* Thickness, Type, Color	*/
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding: 2rem 10% 3rem 10%;
	/* top - right - bottom - left (TRBL) */
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: skyblue;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	/* inline-block is sasme as inline, but it allows us to use the vertical-align property along with it	*/
	vertical-align: top;
	/* aligns the elements according to the tallest element within the line	*/
	min-height: 175px;
	width: 30%;
	margin: 0px 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding: 10px 2rem 10px 0px;
}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	padding: 10px 5rem 10px 0px;
	margin: 0px 10% 0px 1%;
}

#pre-footer div p {
	margin: 0.5rem 0px 0.5rem 0px;
}

#pre-footer #follow-us {
	margin-top: 60px;
}

footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin: 0px 0.5rem;
}